/*----------------------------------------*/
/*  Header CSS
/*----------------------------------------*/

.header-container-fluid {
  max-width: 1650px;
  padding-left: var(--bs-gutter-x,30px);
  padding-right: var(--bs-gutter-x,30px);
  @media #{$large-mobile} {
    padding-left: var(--bs-gutter-x,20px);
    padding-right: var(--bs-gutter-x,20px);
  }
}

// Header Top
.header-top {
  padding: 10px 0;

  background-color: $light;
}
.header-top-info-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  & li {
    display: flex;
    flex-wrap: wrap;

    margin-right: 70px;
    @media #{$desktop-device} {
      margin-right: 25px;
    }
    &:last-child {
      margin-right: 0;
    }
    & .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 35px;
      height: 35px;

      color: $primary;
      border-radius: 50%;
      background-color: $white;
      @media #{$desktop-device} {
        width: 32px;
        height: 32px;
      }
      & i {
          font-size: 14px;
          line-height: 1;
          @media #{$desktop-device} {
            font-size: 13px;
          }
      }
    }
    & .text {
      font-size: 15px;
      font-weight: 500;

      align-self: center;

      padding-left: 12px;

      text-decoration: none;

      color: $headings-color;
      @media #{$desktop-device} {
        padding-left: 8px;
        font-size: 14px;
      }
    }
    & a {
      &:hover {
        color: $primary;
      }
    }
  }
}

.header-donate-btn {
  padding: 13px 39px 12px !important;
  @media #{$desktop-device} {
    padding: 11px 22px 10px !important;
  }
  @media #{$tablet-device, $large-mobile} {
    padding: 8px 20px 7px !important;
  }
  @media #{$small-mobile} {
    display: none;
  }
}

// Header Bottom
.header-bottom {
  background-color: rgba($white, .9);
}

// Header Navigation Style
.header-navigation {
  position: relative;
  @media #{$large-mobile, $tablet-device} {
    display: none;
  }
}

.main-nav {
  display: flex;

  & > li {
    position: relative;
    margin: 0 20px;
    @media #{$desktop-device} {
      margin: 0 8px;
    }

    &:first-child {
      margin-left: 0;
      & > a {
        padding-left: 0;
      }
    }

    &:last-child {
      margin-right: 0;
      & > a {
        padding-right: 0;
      }
    }

    & > a {
      color: #131b13;
      font-size: 18px;
      font-weight: $font-weight-medium;
      height: 90px;
      padding: 0 12px;
      display: inline-block;
      line-height: 92px;
      letter-spacing: 0;
      position: relative;
      text-transform: capitalize;
      @include transition(all .3s ease-out);
      @media #{$desktop-device} {
        font-size: 15px;
        padding: 0 10px;
        height: 80px;
        line-height: 82px;
      }

      &:hover {
        color: $primary;
      }
    }
  }

  .has-submenu {
    &:hover {
      a {
        color: $primary;
      }

      .submenu-nav {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
      }
    }

    // Sub Menu Style
    .submenu-nav {
      box-shadow: 0 1px 24px 0 rgba($black,.09);
      background-color: $white;
      border-radius: 0 0 4px 4px;
      color: #131b13;
      left: -15px;
      opacity: 0;
      margin-top: 30px;
      min-width: 230px;
      padding: 0 0;
      position: absolute;
      pointer-events: none;
      top: 100%;
      @include transition(all .3s ease-out);
      visibility: hidden;
      width: 230px;
      z-index: 9999;

      & > li {
        border-bottom: 1px solid rgba(173, 181, 189, 0.15);
        padding: 0;
        margin-bottom: 0;

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }

        &.active {
          &:after {
            color: $primary;
          }
        }

        a {
          color: #131b13;
          display: block;
          font-size: 15px;
          padding: 11px 25px 10px;
          position: relative;
          @include transition(all .3s ease-out);
          @media #{$desktop-device} {
            font-size: 14px;
          }

          &:hover {
            color: $primary;
            background-color: rgba(173, 181, 189, 0.15);
          }
        }
      }

      .has-submenu {
        position: relative;

        a {
          @media #{$desktop-device, $tablet-device} {
            padding: 11px 10px 10px 32px;
          }
          &:before {
            content: "\eaa0";
            font-family: "IcoFont";
            right: 20px;
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            font-size: 15px;
            @media #{$desktop-device, $tablet-device} {
              left: 15px;
              right: auto;
              content: "\ea9d";
            }
          }
        }

        // Sub Sub Menu Style
        .submenu-nav {
          border-radius: 0 4px 4px 4px;
          box-shadow: 0 0 3.76px 0.24px rgb(0 0 0 / 5%);
          left: 100%;
          right: auto;
          top: 8px;
          opacity: 0;
          visibility: hidden;
          margin-top: 30px;
          @media #{$desktop-device, $tablet-device} {
            left: auto;
            right: 100%;
          }

          a {
            padding: 11px 25px 10px;

            &:before {
              display: none;
            }

            &:hover {
              color: $primary;
            }
          }
        }

        &:hover {
          a {
            color: $primary;
          }

          .submenu-nav {
            opacity: 1;
            visibility: visible;
            margin-top: 0;

            a {
              color: #131b13;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }

  li {
    &.active {
      a {
        color: $primary;
      }
      ul {
        li {
          &.active {
            a {
              color: $primary;
            }
            ul {
              li {
                &.active {
                  a {
                    color: $primary !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Sticky Header
.sticky-header {
  @include transition(all .4s ease-out);

  &.sticky-show {
    -webkit-animation-name: slideDown !important;
    -moz-animation-name: slideDown !important;
    -o-animation-name: slideDown !important;
    animation-name: slideDown !important;
  }
  &.sticky {
    box-shadow: 0 8px 8px -6px rgb(0 0 0 / 6%);
    position: fixed;
    left: 0;
    top: 0 !important;
    width: 100%;
    z-index: 99;
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    @include transition(all .4s ease-out);
    .header-logo-area {
      .logo-main {
        display: block;
      }
      .logo-light {
        display: none;
      }
    }
  }
}

// Header Logo
.header-logo {
  @media #{$tablet-device, $large-mobile} {
    padding: 16px 0;
  }

  img {
    @media #{$laptop-device, $desktop-device, $tablet-device, $large-mobile} {
      width: 146px;
    }
    @media #{$extra-small-mobile} {
      width: 124px;
    }
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%)
  }
  100% {
    -webkit-transform: translateY(0)
  }
}
@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%)
  }
  100% {
    -moz-transform: translateY(0)
  }
}
@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%)
  }
  100% {
    -o-transform: translateY(0)
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0)
  }
  100% {
    -webkit-transform: translateY(-100%)
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0)
  }
  100% {
    -moz-transform: translateY(-100%)
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0)
  }
  100% {
    -o-transform: translateY(-100%)
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-100%)
  }
}