/*----------------------------------------*/
/*  Blog Post CSS
/*----------------------------------------*/

.blog-related-section {
  padding: 70px 0;
}

.post-item {
  border: 2px solid $light;

  & .image {
    display: block;
    overflow: hidden;
    margin: 38px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      margin: 8px;
    }

    & img {
      transition: $transition-base;
      width: 100%;
    }
  }

  & .content {
    background-color: $light;
    padding: 51px 58px 52px;
    @media #{$desktop-device} {
      padding: 26px 32px 30px;
    }
    @media #{$tablet-device, $large-mobile, $small-mobile} {
      padding: 20px 27px 25px;
    }

    & .title {
      font-size: 28px;
      margin-bottom: 0;
      @media #{$desktop-device, $large-mobile} {
        font-size: 22px;
      }
      @media #{$tablet-device, $small-mobile} {
        font-size: 20px;
      }

      + {
        & p {
          margin-top: 16px;
          @media #{$desktop-device, $tablet-device, $large-mobile} {
            margin-top: 12px;
          }
        }
      }
    }

    & p {
      line-height: 1.77;
    }
  }

  &:hover {
    & .image {
      & img {
        @include scale(1.05);
      }
    }
  }
}

.post-meta {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .post-date {
    padding-right: 8px;
  }

  & li {
    color: $dark;
    font-size: 15px;
    font-weight: $font-weight-medium;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 14px;
    }

    & span {
      color: $primary;
    }
  }

  + {
    & .title {
      margin-top: 18px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        margin-top: 10px;
      }
    }
  }
}

.post2-meta {
  border-bottom: 1px solid #ede9e3;
  padding-bottom: 19px;

  & + {
    & .title {
      margin-top: 21px;
    }
  }
}

.post2-item-style {
  border: none;

  & .image {
    display: block;
    margin: 0;
  }

  & .content {
    padding: 42px 50px 41px;
    @media #{$tablet-device, $large-mobile, $desktop-device} {
      padding: 19px 25px 21px;
    }
  }
}

.post3-meta {
  border-bottom: 1px solid #ede9e3;
  padding-bottom: 16px;

  & li {
    font-size: 14px;
  }

  & + {
    & .title {
      margin-top: 18px;
    }
  }
}

.post3-item-style {
  border: none;

  & .image {
    display: block;
    margin: 0;
  }

  & .content {
    padding: 33px 35px 33px;
    @media #{$tablet-device, $large-mobile, $desktop-device} {
      padding: 19px 25px 21px;
    }

    & .title {
      font-size: 24px;
      @media #{$large-mobile} {
        font-size: 20px;
      }
    }

    & p {
      font-size: 15px;
      line-height: 1.7;
    }
  }
}

.post4-meta {
  justify-content: inherit;

  & > li {
    & + {
      & li {
        padding-left: 10px;
      }
    }
  }

  & .post-date {
    padding-right: 0;
  }

  & .post-dot {
    position: relative;
    margin: 0;

    &:before {
      border-radius: 50%;
      background-color: #0f034a;
      content: "";
      display: inline-block;
      position: relative;
      height: 4px;
      width: 4px;
      top: -2px;
    }
  }
}

.post4-item-style {
  border: none;

  & .image {
    display: block;
    margin: 0;

    & + {
      & .content {
        margin-top: 32px;
        @media #{$desktop-device, $tablet-device, $large-mobile} {
          margin-top: 25px;
        }
      }
    }
  }

  & .post-author {
    color: #9b9ea1;
    font-size: 16px;
    font-weight: $font-weight-medium;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 14px;
    }

    & > span {
      margin-right: 4px;
    }

    & > a {
      color: $dark;

      &:hover {
        color: $primary;
      }
    } 
  }

  & .content {
    padding: 0;

    & .title {
      color: #10253b;
      font-size: 22px;
      font-weight: $font-weight-bold;
      line-height: 1.590;
      margin: 10px 0;
      @media #{$desktop-device, $tablet-device} {
        font-size: 18px;
      }
      @media #{$large-mobile} {
        font-size: 17px;
      }

      & br {
        @media #{$desktop-device, $tablet-device, $large-mobile} {
          display: none;
        }
      }
    }
  }
}

.post-details-info {
  margin-bottom: 70px;
  @media #{$desktop-device, $tablet-device, $large-mobile} {
    margin-bottom: 50px;
  }
  .meta {
    color: #383e38;
    font-size: 15px;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 14px;
      margin-bottom: 10px;
    }
    @media #{$small-mobile} {
      font-size: 13px;
    }
    .author {
      a {
        color: $dark;
        font-weight: $font-weight-medium;
        &:hover {
          color: $primary;
        }
      }
    }
    .dots {
      margin: 0 14px;
      position: relative;
      top: -3px;
      @media #{$extra-small-mobile} {
        display: none;
      }
      &:before {
        background-color: #0f034a;
        border-radius: 50%;
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
      }
    }
    span {
      + {
        span {
          @media #{$extra-small-mobile} {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .title {
    font-size: 42px;
    font-weight: $font-weight-bold;
    line-height: 1.309;
    margin-bottom: 38px;
    @media #{$desktop-device} {
      font-size: 36px;
    }
    @media #{$tablet-device} {
      font-size: 30px;
      margin-bottom: 28px;
    }
    @media #{$large-mobile} {
      font-size: 24px;
      margin-bottom: 25px;
    }
    @media #{$small-mobile} {
      font-size: 20px;
      margin-bottom: 22px;
    }

    & br {
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        display: none;
      }
    }
  }

  .widget-tags {
    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        flex-wrap: wrap;
      }
      li {
        display: inline-block;
        a {
          background-color: $light;
          border-radius: 0;
          color: $dark;
          display: inline-block;
          font-size: 15px;
          padding: 6px 42px 6px;
          margin-top: 5px;
          @media #{$desktop-device, $tablet-device} {
            padding: 6px 15px 6px;
          }
          @media #{$large-mobile} {
            font-size: 13px;
            padding: 2px 12px 3px;
          }
          &:hover {
            background-color: $primary;
            color: $white;
          }
        }
        + {
          li {
            margin-left: 20px;
            @media #{$desktop-device, $tablet-device, $large-mobile} {
              margin-left: 10px;
            }
            @media #{$extra-small-mobile} {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.post-details-content {
  margin-top: 52px;
  padding-bottom: 80px;
  @media #{$large-mobile} {
    margin-top: 35px;
  }

  p {
    font-size: 16px;
    @media #{$large-mobile} {
      font-size: 14px;
    }
  }

  .title {
    font-size: 27px;
    font-weight: $font-weight-bold;
    margin-bottom: 22px;
    line-height: 1.48148;
    @media #{$desktop-device, $tablet-device} {
      font-size: 26px;
    }
    @media #{$large-mobile} {
      font-size: 20px;
    }
  }
}

.post-details-content-list {
  margin-top: 32px;
  margin-bottom: 44px;
  @media #{$tablet-device} {
    margin-bottom: 22px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 40px;
    @media #{$desktop-device} {
      font-size: 24px;
    }
    @media #{$tablet-device} {
      font-size: 20px;
      margin-bottom: 25px;
    }
    @media #{$large-mobile} {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }

  .list-style {
    li {
      a {
        border: 1px solid #eee;
        border-radius: 5px;
        color: $primary;
        display: block;
        font-weight: $font-weight-medium;
        font-size: 16px;
        padding: 16px 27px 14px;
        @include transition(all .2s ease-out);
        @media #{$tablet-device, $large-mobile} {
          font-size: 14px;
          padding: 13px 16px 11px;
        }
        @media #{$large-mobile} {
          display: block;
        }
        &:hover {
          background-color: #efefef;
          border-color: #efefef;
        }
        i {
          margin-right: 17px;
          @media #{$tablet-device} {
            margin-right: 5px;
          }
          @media #{$large-mobile} {
            margin-right: 5px;
            display: block;
          }
        }
      }
      + {
        li {
          margin-top: 10px;
        }
      }
    }
  }
}

.blockquote-item {
  background-color: $primary;
  border-radius: 0;
  padding: 71px 20px 64px;
  margin-top: 45px;
  text-align: center;
  margin-bottom: 42px;
  @media #{$desktop-device, $tablet-device} {
    padding: 30px 30px 27px;
  }
  @media #{$large-mobile} {
    padding: 40px 30px;
  }
  @media #{$small-mobile} {
    padding: 40px 15px;
  }
  p {
    color: #FFFFFF;
    font-weight: $font-weight-normal;
    font-size: 44px;
    line-height: 1.545454;
    max-width: 665px;
    margin: 0 auto;
    @media #{$desktop-device, $tablet-device} {
      font-size: 30px;
    }
    @media #{$large-mobile} {
      font-size: 20px;
    }
    span {
      font-weight: $font-weight-bold;
    }
  }
}

.post-details-footer {
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    margin: 48px 0 0;
  }

.post-details-social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 69px 18px;
  @media #{$tablet-device, $large-mobile} {
    padding: 18px 0;
  }
  @media #{$extra-small-mobile} {
    padding: 10px 0;
  }

  span {
    color: #272a33;
    font-weight: $font-weight-semi-bold;
    font-size: 19px;
    line-height: 1;
    margin-top: -3px;
    @media #{$extra-small-mobile} {
      font-size: 16px;
    }
  }

  .social-icons {
    display: flex;
    a {
      + {
        a {
          margin-left: 17px;
          @media #{$extra-small-mobile} {
            margin-left: 6px;
          }
        }
      }
    }
  }

  a {
    background-color: #f4f4f4;
    border-radius: 10px;
    color: #22262a;
    display: inline-block;
    font-size: 14px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    @media #{$small-mobile} {
      height: 35px;
      line-height: 35px;
      width: 35px;
    }
    @media #{$extra-small-mobile} {
      height: 30px;
      line-height: 30px;
      width: 30px;
      font-size: 12px;
    }
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

.related-post-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 43px;
  @media #{$desktop-device, $tablet-device, $large-mobile} {
    margin-bottom: 15px;
  }
  .title {
    font-size: 35px;
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    margin-top: 3px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 26px;
    }
    @media #{$extra-small-mobile} {
      font-size: 22px;
      margin-top: 7px;
    }
  }
}

.related-post-swiper-btn-wrap {
  display: flex;
  .related-post-swiper-btn-prev,
  .related-post-swiper-btn-next {
    background-color: #fff;
    border: 2px solid #d9e7df;
    border-radius: 10px;
    color: #0f034a;
    font-size: 25px;
    height: 52px;
    padding-top: 1px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(all .3s ease-out);
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 20px;
      height: 42px;
      width: 42px;
    }
    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }
  .related-post-swiper-btn-next {
    margin-left: 20px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      margin-left: 8px;
    }
  }
}

.blog-comment-section {
  padding: 78px 0 82px;

  .main-title {
    font-size: 30px;
    font-weight: $font-weight-bold;
    margin-bottom: 38px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 26px;
      margin-bottom: 26px;
    }
    @media #{$small-mobile} {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

.single-comment {
  position: relative;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 44px 36px 24px;
  @media #{$desktop-device, $tablet-device, $large-mobile} {
    padding: 40px 25px 25px;
  }
  .author-info {
    position: relative;

    .thumb {
      align-items: center;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      display: flex;
      min-width: 90px;
      min-height: 90px;
      justify-content: center;
      position: absolute;
      top: -15px;
      @media #{$large-mobile} {
        top: 0;
      }
      @media #{$small-mobile} {
        display: inline-flex;
        margin-bottom: 20px;
        position: relative;
      }
    }

    .author-details {
      margin-bottom: 31px;
      padding-left: 125px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        padding-left: 100px;
        margin-bottom: 30px;
      }
      @media #{$large-mobile} {
        padding-left: 100px;
        margin-bottom: 30px;
        padding-top: 20px;
      }
      @media #{$small-mobile} {
        padding-left: 0;
        margin-bottom: 20px;
        padding-top: 0;
      }
      .title {
        font-size: 22px;
        font-weight: $font-weight-bold;
        margin-bottom: 6px;
        @media #{$desktop-device, $tablet-device, $large-mobile} {
          font-size: 20px;
          margin-bottom: 4px;
        }
      }
      ul {
        margin-bottom: 0;
        li {
          color: #656565;
          font-size: 15px;
          span {
            color: $primary;
            margin-left: 0;
            @media #{$extra-small-mobile} {
              display: block;
            }
          }
        }
      }
    }
  }

  .desc {
    color: #656565;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.66666;
    padding-left: 10px;
    margin-bottom: 0;
    @media #{$small-mobile} {
      font-size: 14px;
      padding-left: 0;
    }
  }

  .btn-reply {
    background-color: $light;
    position: absolute;
    top: 50px;
    right: 40px;
    font-weight: $font-weight-semi-bold;
    font-size: 14px;
    width: 111px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    @media #{$large-mobile} {
      position: relative;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      display: inline-block;
      margin-top: 20px;
      margin-left: 8px;
    }
    @media #{$small-mobile} {
      margin-left: 0;
    }
    &:hover {
      background-color: $primary;
      color: $white;
    }
    i {
      margin-right: 11px;
    }
  }
}

.comment-reply {
  margin-left: 100px;
  @media #{$desktop-device, $tablet-device} {
    margin-left: 60px;
  }
  @media #{$large-mobile} {
    margin-left: 30px;
  }
  @media #{$small-mobile} {
    margin-left: 15px;
  }
}

.comment-form {
  & .form-control {
    background-color: #fbf9f6;
    border: 1px solid #fbf9f6;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    color: #52565b;
    font-size: 15px;
    height: 58px;
    padding: 10px 30px 10px;
    transition: $transition-base;

    @include placeholder {
      color: #52565b;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $white;
      border-color: $primary;
    }
  }

  & textarea {
    &.form-control {
      padding-top: 19px;
      height: 250px;
      resize: none;
      line-height: 1.3;
      @media #{$desktop-device} {
        height: 190px;
      }
      @media #{$tablet-device} {
        height: 170px;
      }
      @media #{$large-mobile} {
        height: 150px;
      }
    }
  }

  & [type="number"] {
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
}