/*----------------------------------------*/
/*  Contact CSS
/*----------------------------------------*/

.contact-section {
  background-color: #fbf9f6;
}

.contact-section-title {
  margin-bottom: 80px;
}

.contact-form-btn {
  padding: 19px 38px 16px;
  @media #{$desktop-device} {
    padding: 13px 28px 13px;
  }
  @media #{$tablet-device, $large-mobile} {
    padding: 10px 26px 9px;
    font-size: 14px;
  }
}

#contact-form {
  & .form-control {
    background-color: #FFFFFF;
    border: 1px solid #eaeaea;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    color: #131b13;
    font-size: 16px;
    height: 58px;
    padding: 10px 30px 10px;
    transition: $transition-base;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 14px;
      height: 54px;
      padding: 6px 15px 5px;
    }

    @include placeholder {
      color: #131b13;
    }

    &:hover,
    &:active,
    &:focus {
      border-color: $primary;
    }
  }

  & textarea {
    &.form-control {
      padding-top: 19px;
      height: 250px;
      resize: none;
      line-height: 1.3;
      @media #{$desktop-device} {
        padding-top: 15px;
        height: 200px;
      }
      @media #{$tablet-device} {
        height: 150px;
        padding-top: 14px;
      }
      @media #{$large-mobile} {
        height: 150px;
        padding-top: 14px;
      }
    }
  }

  & [type="number"] {
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
}

.contact-form-map {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50% - 87px);
  z-index: -1;
  @media #{$laptop-device} {
    width: calc(50% - 20px);
  }
  @media #{$desktop-device} {
    width: calc(50% - 15px);
  }
  @media #{$tablet-device, $large-mobile} {
    position: relative;
    width: 100%;
    height: 380px;
    margin-top: 40px;
  }

  & iframe {
    height: 100%;
    width: 100%;
  } 
}

.contact-details-info-wrap {
    background-color: #f3eee8;
    padding: 70px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      padding: 30px;
    }
    @media #{$small-mobile} {
      padding: 15px;
    }
}

.contact-details-info-item {
    background-color: #fff;
    padding: 64px 89px 57px;
    height: 100%;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      padding: 30px 30px 32px;
    }
    @media #{$small-mobile} {
      padding: 26px;
    }

    & .title {
        font-size: 30px;
        font-weight: $font-weight-bold;
        margin-bottom: 32px;
        @media #{$desktop-device, $tablet-device, $large-mobile} {
          font-size: 20px;
          margin-bottom: 20px;
        }
    }
}

.contact-details-branch {
  background-color: $primary;

  & .title {
    color: $white;
  }

  .contact-details-info {
    & > li {
      & > i {
        background-color: $white;
      }

      & > a, p {
        color: $white;
      }

      & > a {
        &:hover {
          color: $black;
        }
      }
    }
  }
}

.contact-details-info {
  & > li {
    position: relative;
    padding-left: 55px;
    font-weight: $font-weight-medium;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      padding-left: 38px;
    }

    & > i {
      background-color: rgba($primary, .08);
      border-radius: 50%;
      color: $primary;
      font-size: 14px;
      height: 35px;
      width: 35px;
      display: inline-block;
      text-align: center;
      line-height: 35px;
      position: absolute;
      left: 0;
      top: 0;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        font-size: 11px;
        height: 28px;
        width: 28px;
        line-height: 28px;
      }
    }

    & > a, p {
      color: $dark;
      font-size: 17px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        font-size: 15px;
      }
    }

    & > a {
      &:hover {
        color: $primary;
      }
    }

    & > p {
      max-width: 176px;
      line-height: 2.1;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        line-height: 1.4;
      }
    }

    + {
      & li {
        margin-top: 24px;
        @media #{$large-mobile} {
          margin-top: 18px;
        }
      }
    }
  }
}

.alert {
  margin-bottom: 0;
  margin-top: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}